.principal div {
    display: flex;
    height: auto;
    width: 1268px;
}

.principal2 div{
    display: flex;
    height: auto;
    width: auto;
    margin: 10px;

}
.header {
    display: flex;
    text-align: center;
    background-color: palevioletred;
    height: 100px;
    flex-direction: column;

}

.menu {
    display: flex;
    background-color: aqua;
}

.barralateral{
    background-color: gray;
    margin: 10px;
    flex-direction: column;

}



.contblog {
    margin: 50px;
    width: 668px;
    flex-direction:column;
    flex-wrap: wrap;

}

.footer{
    display: flex;
    text-align: center;
    background-color: gray;
    flex-direction: column;

}
