.principal{
    border: 1px solid black;
    width: 900px;
    height: auto;
    align-items: center;
    margin: auto;
}

.encabezado{
    border: 1px solid black;
    width: auto;
    height: 200px;
}

.cuerpo{
    border: 1px solid black;
    width: 900px;
    height: 200px;
    display: flex;
    flex-wrap: nowrap;

}

.cuerpoI{
    border: 1px solid black;
    width: 120px;
    height: auto;
    align-items: left;


}

.cuerpoD{
    border: 1px solid black;
    width: 780px;

}

.BotonoseCI{
    
    border: 1px solid black;
    height: auto;
    width: auto;
    margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;   
}

.boton{
    width: 100%;
    height: 30px;
}